@using Web.Blazor.Models
@using Web.Blazor.Models.Enums
@using Web.Blazor.Models.RequestModel
@using Web.Blazor.Services.ApiServices
@using Web.Blazor.Services.Interface
@inject IDocumentService DocumentService
@inject DialogService DialogService
@inject IToastService ToastService
@inject IFileUploadService FileUploadService
@inherits BaseComponent

<RadzenTemplateForm Data="@documentModel" TItem="DocumentRequestModel" onclose="@( () => SetDefaults )" Submit="@(() => HandleSubmit(documentId))" InvalidSubmit=@OnInvalidSubmit>
    <div class="grid gap-3 p-3">
        <RadzenStack>
            <RadzenFormField Text="Döküman Adı">
                <ChildContent>
                    <RadzenTextBox Change="@( () => isFormChanged = true)" Name="DocumentTitle" @bind-Value="documentModel.DocumentTitle" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="DocumentTitle" Text="Döküman Adı alanı zorunludur." />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Döküman Türü">
                <RadzenDropDown Change="@( () => isFormChanged = true)" Name="DocumentType" @bind-Value="documentModel.DocumentType" Data="@(Enum.GetValues(typeof(DocumentTypes)).Cast<Enum>())" />
            </RadzenFormField>
            <RadzenFormField required="false" Text="Döküman Açıklaması *(varsa)">
                <RadzenTextArea Rows="3" Change="@( () => isFormChanged = true)" Name="DocumentDescription" @bind-Value="documentModel.DocumentDescription" />
            </RadzenFormField>
        </RadzenStack>
        <hr />
        <RadzenStack Orientation="Orientation.Vertical" Gap="0">
            <div class="py-2">
                <label for="select-mainfile-hidden" class="rz-button rz-button-md rz-variant-filled rz-base rz-shade-default align-self-center">
                    @if (mainImageBusy)
                    {
                        <i style="animation: rotation 700ms linear infinite" class="notranslate rzi" id="d4DUbQirfE" _bl_2837=""><!--!-->refresh</i>
                        <span>&nbsp;YÜKLENİYOR...</span>
                    }
                    else
                    {
                        <i class="notranslate rz-button-icon-left rzi"><!--!-->@uploadIcon</i>
                        <span>&nbsp;@selectedFile</span>
                    }
                </label>
                <InputFile hidden id="select-mainfile-hidden" OnChange="OnMainImageChange" disabled="@mainImageBusy" accept="image/*" />
            </div>
            @if (!string.IsNullOrEmpty(ThumbImagePath))
            {
                <RadzenStack Orientation="Orientation.Vertical" Gap="2">
                    <RadzenCard Variant="Variant.Outlined" Style="text-align:center;" class="rz-background-color-base-200 p-2 m-0">
                        <RadzenText TextStyle="TextStyle.Body1">
                            Döküman görseli
                        </RadzenText>
                    </RadzenCard>
                    <RadzenCard Variant="Variant.Outlined">
                        <div class="d-flex flew-row align-self-center justify-content-center">
                            <RadzenRow RowGap="3">
                                <div class="position-relative">
                                    <img src="@( baseUrl + ThumbImagePath)" class="project_thumb_image mx-auto d-block" />
                                    <RadzenButton Click=@(() => RemoveMainImage()) Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" class="rz-border-radius-10 rz-shadow-6 p-0 position-absolute top-0 end-0" />
                                </div>
                            </RadzenRow>
                        </div>
                    </RadzenCard>
                </RadzenStack>
            }
            @if (mainImage.LoadedFile != null && !string.IsNullOrEmpty(mainImage.LoadedFile?.Base64Content))
            {
                <RadzenStack Orientation="Orientation.Vertical" Gap="2">
                    <RadzenCard Variant="Variant.Outlined" Style="text-align:center;" class="rz-background-color-base-200 p-2 m-0">
                        <RadzenText TextStyle="TextStyle.Body1">
                            Seçili görsel
                        </RadzenText>
                    </RadzenCard>
                    <RadzenCard Variant="Variant.Outlined">
                        <div class="d-flex flew-row align-self-center justify-content-center">
                            <RadzenRow RowGap="3">
                                <div class="position-relative">
                                    <img src="@mainImage.LoadedFile?.Base64Content" class="project_thumb_image mx-auto d-block" />
                                    <RadzenButton Click=@(() => RemoveMainImage()) Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" class="rz-border-radius-10 rz-shadow-6 p-0 position-absolute top-0 end-0" />
                                </div>
                            </RadzenRow>
                        </div>
                    </RadzenCard>
                    <RadzenCard Variant="Variant.Outlined" Style="text-align:center;" class="rz-background-color-base-200 p-2 m-0">
                        <RadzenText TextStyle="TextStyle.Body1">
                            Toplam Boyut : <b>@((mainImage.FileContent.Length / (1024 * 1024.0d)).ToString("0.##")) Mb</b>
                        </RadzenText>
                    </RadzenCard>
                </RadzenStack>
            }
            <hr />
            <div class="py-2">
                <label for="select-documentfile-hidden" class="rz-button rz-button-md rz-variant-filled rz-base rz-shade-default align-self-center">
                    @if (documentBusy)
                    {
                        <i style="animation: rotation 700ms linear infinite" class="notranslate rzi" id="d4DUbQirfE" _bl_2837=""><!--!-->refresh</i>
                        <span>&nbsp;YÜKLENİYOR...</span>
                    }
                    else
                    {
                        <i class="notranslate rz-button-icon-left rzi"><!--!-->@uploadDocumentIcon</i>
                        <span>&nbsp;@selectedDocument</span>
                    }
                </label>
                <InputFile hidden id="select-documentfile-hidden" OnChange="OnDocumentChange" disabled="@documentBusy" accept="application/pdf" />
            </div>
            @if (!string.IsNullOrEmpty(DocumentUrl))
            {
                <RadzenStack Orientation="Orientation.Vertical" Gap="2">
                    <RadzenCard Variant="Variant.Outlined" Style="text-align:center;" class="rz-background-color-base-200 p-2 m-0">
                        <RadzenText TextStyle="TextStyle.Body1">
                            Mevcut Döküman
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Caption">
                            (@(existingDocumentName!))
                        </RadzenText>
                    </RadzenCard>
                    <RadzenCard Variant="Variant.Outlined">
                        <div class="d-flex flew-row align-self-center justify-content-center">
                            <RadzenRow RowGap="3">
                                <div class="position-relative">
                                    <img src="icon_pdf_file.svg" class="project_thumb_image mx-auto d-block" style="object-fit:contain" />
                                    <RadzenButton Click=@(() => RemoveDocument()) Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" class="rz-border-radius-10 rz-shadow-6 p-0 position-absolute top-0 end-0" />
                                </div>
                            </RadzenRow>
                        </div>
                    </RadzenCard>
                </RadzenStack>
            }
            @if (documentFile.LoadedFile != null)
            {
                <RadzenStack Orientation="Orientation.Vertical" Gap="2">
                    <RadzenCard Variant="Variant.Outlined" Style="text-align:center;" class="rz-background-color-base-200 p-2 m-0">
                        <RadzenText TextStyle="TextStyle.Body1">
                            Seçili Döküman
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Caption">
                            (@documentFile.FileName)
                        </RadzenText>
                    </RadzenCard>
                    <RadzenCard Variant="Variant.Outlined">
                        <div class="d-flex flew-row align-self-center justify-content-center">
                            <RadzenRow RowGap="3">
                                <div class="position-relative">
                                    <img src="icon_pdf_file.svg" class="project_thumb_image mx-auto d-block" style="object-fit:contain" />
                                    <RadzenButton Click=@(() => RemoveDocument()) Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" class="rz-border-radius-10 rz-shadow-6 p-0 position-absolute top-0 end-0" />
                                </div>
                            </RadzenRow>
                        </div>
                    </RadzenCard>
                    <RadzenCard Variant="Variant.Outlined" Style="text-align:center;" class="rz-background-color-base-200 p-2 m-0">
                        <RadzenText TextStyle="TextStyle.Body1">
                            Toplam Boyut : <b>@((documentFile.FileContent.Length / (1024 * 1024.0d)).ToString("0.##")) Mb</b>
                        </RadzenText>
                    </RadzenCard>
                </RadzenStack>
            }
        </RadzenStack>
        <RadzenButton class="mt-3" ButtonType="ButtonType.Submit" Text="Kaydet" />
    </div>
</RadzenTemplateForm>
@code {
    [Parameter] public DocumentModel? ExistingDocument { get; set; }

    private string selectedFile = "ANA GÖRSEL SEÇİNİZ";
    private string selectedDocument = "DÖKÜMAN SEÇİNİZ";
    UploadFileModel mainImage = new();
    UploadFileModel documentFile = new();
    string uploadIcon = "upload";
    string uploadDocumentIcon = "upload";
    private bool isEdit => ExistingDocument != null;
    private bool canEditMainImage = false;
    private bool canEditDocument = false;
    private string? DocumentUrl = string.Empty;
    private string? existingDocumentName = string.Empty;
    private string? MainImagePath = string.Empty;
    private string? ThumbImagePath = string.Empty;
    bool mainImageBusy = false;
    bool documentBusy = false;
    private Guid documentId = Guid.Empty;
    private bool isFormChanged = false;
    private DocumentRequestModel documentModel = new();
    private string baseUrl = string.Empty;

    protected override void OnInitialized()
    {
        baseUrl = base.SetBaseUrl();
        SetDefaults();

        if (isEdit)
        {
            isFormChanged = false;
            documentModel = new DocumentRequestModel
                {
                    DocumentTitle = ExistingDocument!.DocumentTitle,
                    DocumentDescription = ExistingDocument!.DocumentDescription,
                    DocumentType = ExistingDocument!.DocumentType,
                };
            documentId = ExistingDocument!.Id;
            DocumentUrl = ExistingDocument!.DocumentUrl;
            existingDocumentName = ExistingDocument!.DocumentTitle;
            MainImagePath = ExistingDocument!.MainImagePath;
            ThumbImagePath = ExistingDocument!.ThumbImagePath;
            if (!string.IsNullOrEmpty(ExistingDocument!.ThumbImagePath))
            {
                selectedFile = $"DEĞİŞTİR";
                uploadIcon = "cached";
            }
            if (!string.IsNullOrEmpty(ExistingDocument!.DocumentUrl))
            {
                selectedDocument = $"DEĞİŞTİR";
                uploadDocumentIcon = "cached";
            }
        }
    }

    private async Task OnMainImageChange(InputFileChangeEventArgs e)
    {
        mainImageBusy = true;
        isFormChanged = true;
        if (isEdit && !canEditMainImage)
        {
            MainImagePath = string.Empty;
            ThumbImagePath = string.Empty;
            canEditMainImage = true;
        }
        else
            mainImage = new();

        var file = e.GetMultipleFiles().FirstOrDefault();
        if (file != null)
        {
            try
            {
                var result = await FileUploadService.UploadFile(file);

                if (result != null)
                {
                    mainImage = result;
                    selectedFile = $"DEĞİŞTİR";
                    uploadIcon = "cached";
                }

            }
            catch (Exception ex)
            {
                ToastService.ShowError($"Dosya yüklenirken bir hata oluştu: {ex.Message}");
                mainImageBusy = false;
            }
            mainImageBusy = false;
        }
        else
        {
            ToastService.ShowError($"Dosya yüklenirken bir hata oluştu. Lütfen dosyayı kontrol edip tekrar deneyiniz.");
            mainImageBusy = false;
        }
    }

    private async Task OnDocumentChange(InputFileChangeEventArgs e)
    {
        documentBusy = true;
        isFormChanged = true;
        if (isEdit && !canEditDocument)
        {
            DocumentUrl = string.Empty;
            canEditDocument = true;
        }
        else
            documentFile = new();

        var file = e.GetMultipleFiles().FirstOrDefault();
        if (file != null)
        {
            try
            {
                var result = await FileUploadService.UploadDocument(file);

                if (result != null)
                {
                    documentFile = result;
                    selectedDocument = $"DEĞİŞTİR";
                    uploadDocumentIcon = "cached";
                }

            }
            catch (Exception ex)
            {
                ToastService.ShowError($"Dosya yüklenirken bir hata oluştu: {ex.Message}");
                documentBusy = false;
            }
            documentBusy = false;
        }
        else
        {
            ToastService.ShowError($"Dosya yüklenirken bir hata oluştu. Lütfen dosyayı kontrol edip tekrar deneyiniz.");
            documentBusy = false;
        }
    }

    private void RemoveMainImage()
    {
        isFormChanged = true;
        if (isEdit && !canEditMainImage)
        {
            MainImagePath = string.Empty;
            ThumbImagePath = string.Empty;
            canEditMainImage = true;
        }
        else
        {
            mainImage = new();
        }
        selectedFile = $"ANA GÖRSEL SEÇİNİZ";
        uploadIcon = "upload";
    }
    private void RemoveDocument()
    {
        isFormChanged = true;
        if (isEdit && !canEditDocument)
        {
            DocumentUrl = string.Empty;
            canEditDocument = true;
        }
        else
        {
            documentFile = new();
        }
        selectedDocument = $"DÖKÜMAN SEÇİNİZ";
        uploadDocumentIcon = "upload";
    }


    private void SetDefaults()
    {
        mainImage = new();
        documentFile = new();
        selectedFile = $"ANA GÖRSEL SEÇİNİZ";
        selectedDocument = "DÖKÜMAN SEÇİNİZ";
        uploadDocumentIcon = "upload";
        uploadIcon = "upload";
        canEditMainImage = false;
        canEditDocument = false;
    }

    private void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        ToastService.ShowError("Eksik veya hatalı alanlar mevcut!");
    }

    private async Task HandleSubmit(Guid? id = default)
    {
        base.ShowLoader();
        try
        {
            if (isEdit)
            {
                if (!isFormChanged)
                {
                    base.HideLoader();
                    ToastService.ShowWarning("Formda herhangi bir değişiklik yapılmadı !");
                    return;
                }
                if (id == null || id == Guid.Empty)
                {
                    base.HideLoader();
                    ToastService.ShowError("İlgili çalışan bulunamadı. Lütfen sayfayı yenileyip tekrar deneyiniz.");
                    return;
                }
            }

            using var formData = new MultipartFormDataContent();
            formData.Add(new StringContent(documentModel.DocumentTitle ?? ""), "DocumentTitle");
            formData.Add(new StringContent(documentModel.DocumentDescription ?? ""), "DocumentDescription");
            formData.Add(new StringContent(documentModel.DocumentType.ToString() ?? ""), "DocumentType");

            if (isEdit ? (canEditMainImage && mainImage.FileContent == null) : mainImage.FileContent == null)
            {
                base.HideLoader();
                ToastService.ShowWarning("Döküman görseli eklenmesi zorunludur");
                return;
            }
            if (isEdit ? (canEditDocument && documentFile.FileContent == null) : documentFile.FileContent == null)
            {
                base.HideLoader();
                ToastService.ShowWarning("Döküman eklenmesi zorunludur");
                return;
            }

            if (mainImage.FileContent != null)
            {
                var fileContent = new ByteArrayContent(mainImage.FileContent);
                fileContent.Headers.ContentDisposition = new System.Net.Http.Headers.ContentDispositionHeaderValue("form-data")
                    {
                        Name = "\"MainImage\"",
                        FileName = $"\"{mainImage.FileName}\""
                    };
                fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(mainImage.ContentType);
                formData.Add(fileContent, "MainImage", mainImage.FileName);
            }

            if (documentFile.FileContent != null)
            {
                var fileContent = new ByteArrayContent(documentFile.FileContent);
                fileContent.Headers.ContentDisposition = new System.Net.Http.Headers.ContentDispositionHeaderValue("form-data")
                    {
                        Name = "\"Document\"",
                        FileName = $"\"{documentFile.FileName}\""
                    };
                fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(documentFile.ContentType);
                formData.Add(fileContent, "Document", documentFile.FileName);
            }

            if (isEdit)
            {
                var response = await DocumentService.UpdateDocumentAsync(documentId, formData);

                if (!response.IsSuccessStatusCode)
                {
                    base.HideLoader();
                    SetDefaults();

                    string errorMessage = response.ReasonPhrase!;
                    ToastService.ShowError(errorMessage);
                    return;
                }
                else
                {
                    DialogService.Close(true);
                    base.HideLoader();
                }
            }
            else
            {
                var response = await DocumentService.CreateDocumentAsync(formData);

                if (!response.IsSuccessStatusCode)
                {
                    base.HideLoader();
                    SetDefaults();

                    string errorMessage = response.ReasonPhrase!;
                    ToastService.ShowError(errorMessage);
                    return;
                }
                else
                {
                    DialogService.Close(true);
                    base.HideLoader();
                }
            }
        }
        catch (Exception ex)
        {
            base.HideLoader();
            SetDefaults();
            ToastService.ShowError(ex.Message);
        }
    }
}
