@page "/documents"
@using Web.Blazor.Models
@using Web.Blazor.Models.Enums
@using Web.Blazor.Pages.Components
@using Web.Blazor.Services.ApiServices
@inject DialogService DialogService
@inject IJSRuntime JSRuntime
@inject IDocumentService DocumentService
@inject IToastService ToastService
@inject TooltipService tooltipService
@inherits BaseComponent

<PageTitle>Döküman Yönetimi</PageTitle>

<RadzenText Text="Döküman Yönetimi" TextStyle="TextStyle.DisplayH5" Class="mb-2">
</RadzenText>

<div class="d-flex justify-content-end align-items-center mb-2 px-2">
    <RadzenButton Icon="add" Disabled="isLoading" Text="Yeni Döküman Ekle" Click="@(()=> OpenDialog(null))" />
</div>

@*     Görsellerin üzerine tıklanınca modal ile açma işlemi ekle.  *@
<RadzenDataGrid @ref="documentGrid" Data="documentModel" GridLines="DataGridGridLines.Horizontal" TItem="DocumentModel" Responsive="true"
                AllowFiltering="true" FilterMode="FilterMode.Advanced" Style="border-radius:7px" AllowColumnResize="false" ColumnWidth="10rem"
                LogicalFilterOperator="LogicalFilterOperator.Or" OrOperatorText="Veya"
                AndOperatorText="Ve" ApplyFilterText="Uygula" ClearFilterText="Temizle" EqualsText="Eşittir"
                NotEqualsText="Eşit değildir" LessThanOrEqualsText="Daha az veya eşit" LessThanText="Daha az"
                GreaterThanOrEqualsText="Daha fazla veya eşit" GreaterThanText="Daha fazla" EndsWithText="İle biter"
                FilterText="Filtrele" StartsWithText="İle başlar" IsEmptyText="Veri boşsa" IsNotEmptyText="Veri boş değilse"
                IsNullText="Veri yoksa" IsNotNullText="Veri varsa" ContainsText="İçerir" DoesNotContainText="İçermez"
                AllowSorting="true" EnumFilterSelectText="Seçiniz" PagingSummaryFormat="{1} sayfadan {0}. sayfa (Toplam {2} adet kayıt)"
                AllowPaging="true" PageSize="@((int)defaultPageSize)" PagerHorizontalAlign="HorizontalAlign.Right" ExpandMode="DataGridExpandMode.Single"
                ShowPagingSummary="true" ShowHeader="true"
                class="rz-shadow-1" AllowAlternatingRows="false">
    <HeaderTemplate>
        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
            <RadzenLabel Text="Kayıt sayısı: " Component="MaxPageSize" Style="align-self:center" />
            <RadzenDropDown @bind-Value=@defaultPageSize Data="@(Enum.GetValues(typeof(PageSizes)))" Name="MaxPageSize" />
            <RadzenToggleButton Text="@(isImageVisible ? "Görselleri Gizle" : "Görselleri Göster" )"
                                ToggleButtonStyle="ButtonStyle.Success" ButtonStyle="ButtonStyle.Dark"
                                Icon="visibility_off" ToggleIcon="visibility"
                                Click=@(() => isImageVisible = !isImageVisible) />
        </RadzenStack>
    </HeaderTemplate>
    <EmptyTemplate>
        @if (isLoading)
        {
            <RadzenStack Orientation="Orientation.Horizontal" Gap="3" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="margin: 2rem;color: lightgrey;text-align: center;">
                <i style="font-size:36px; animation: rotation 700ms linear infinite" class="notranslate rzi" id="d4DUbQirfE" _bl_2837=""><!--!-->refresh</i>
                <span>
                    Yükleniyor...
                </span>
            </RadzenStack>
        }
        else
        {
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Gösterilecek kayıt bulunamadı.</p>
        }
    </EmptyTemplate>
@*     <Template Context="item">
        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
            <RadzenText class="align-self-center mb-0" Text="Döküman Açıklaması:" TextStyle="TextStyle.Subtitle2" Style="font-weight:bold">
            </RadzenText>
            <RadzenText class="align-self-center mb-0" Text="@item.DocumentDescription" TextStyle="TextStyle.Subtitle2" Style="text-wrap-mode:wrap;">
            </RadzenText>
        </RadzenStack>
    </Template> *@
    <Columns>
        <RadzenDataGridColumn Visible="@isImageVisible" TItem="DocumentModel" Frozen Sortable="false" TextAlign="TextAlign.Center" Width="2rem" Filterable="false" Title="Döküman Görseli">
            <Template Context="data" >
                <RadzenStack Gap="0" Orientation="Orientation.Horizontal" class="m-0 p-0" JustifyContent="JustifyContent.Center">
                    <RadzenImage Path="@(baseUrl + data.ThumbImagePath)" class="rz-gravatar rz-gravatar-custom" />
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DocumentModel" Property="DocumentTitle" Width="2.5rem" Title="Döküman Adı" />
        <RadzenDataGridColumn TItem="DocumentModel" Property="DocumentType" Width="2rem" Title="Döküman Tipi" />
        <RadzenDataGridColumn TItem="DocumentModel" Property="DocumentDescription" Title="Döküman Açıklaması">
            <Template Context="item">
                <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                    <p class="align-self-center mb-0" style="text-wrap-mode:wrap;">
                        @item.DocumentDescription
                    </p>
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="DocumentModel" TextAlign="TextAlign.Center" Frozen FrozenPosition="FrozenColumnPosition.Right" Sortable="false" Filterable="false" Width="3rem" Title="İşlemler">
            <Template Context="item">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                    <RadzenButton Icon="contact_page" ButtonStyle="ButtonStyle.Info" Variant="Variant.Filled" Shade="Shade.Lighter" MouseEnter="@(args => ShowTooltip(args,"Döküman Görüntüle"))" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(()=> ShowDocument(item.DocumentUrl))" aria-label="Show" />
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Filled" MouseEnter="@(args => ShowTooltip(args,"Döküman Düzenle"))" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(()=> OpenDialog(item))" aria-label="Cancel" />
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Filled" MouseEnter="@(args => ShowTooltip(args,"Dökümanı Sil"))" Size="ButtonSize.Medium" Shade="Shade.Lighter" class="rz-my-1 rz-ms-1" Click="() => Delete(item)" aria-label="Delete" />
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
    </Columns>

</RadzenDataGrid>

@code {
    RadzenDataGrid<DocumentModel> documentGrid;
    private DocumentModel editDocumentModel = new();
    private List<DocumentModel> documentModel = [];
    private PageSizes defaultPageSize = PageSizes.Five;
    private bool isImageVisible = true;
    private bool isLoading = true;
    private bool isEdit = false;
    private string baseUrl = "";
    private TooltipOptions options = new() { Position = TooltipPosition.Bottom };
    protected override async Task OnInitializedAsync()
    {
        baseUrl = base.SetBaseUrl();
        await LoadData();
    }
    void ShowTooltip(ElementReference elementReference, string text) => tooltipService.Open(elementReference, text, options);

    async Task OpenDialog(DocumentModel? document)
    {
        isEdit = document == null ? true : false;
        var result = await DialogService.OpenAsync<DocumentCrudComponent>(
        document == null ? "Yeni Döküman Ekle" : "Seçili Dökümanı Düzenle",
        new Dictionary<string, object>() { { "ExistingDocument", document! } },
    new DialogOptions { Width = "700px", CloseDialogOnOverlayClick = false, AutoFocusFirstElement = false, CloseDialogOnEsc = false }
        );

        if (result is true)
        {
            if (isEdit)
                ToastService.ShowSuccess("Döküman başarıyla eklendi!");
            else
                ToastService.ShowSuccess("Döküman başarıyla güncellendi!");

            await LoadData();
            await documentGrid.RefreshDataAsync();
        }
    }
    private async Task LoadData()
    {
        isLoading = true;
        try
        {
            documentModel = await DocumentService.GetAllAsync();
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        isLoading = false;
        isEdit = false;
    }

    private async void Delete(DocumentModel model)
    {

        var title = $"Döküman: {model.DocumentTitle}";

        var result = await DialogService.OpenAsync(title, ds =>
    @<RadzenStack Gap="1.5rem">
        <RadzenText Text="Dökümanı silmek istediğinize emin misiniz ?" TextStyle="TextStyle.Body1" />
        <RadzenText Text="NOT: Bu işlem geri alınamaz !" TextStyle="TextStyle.Subtitle2" class="text-danger" />
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceAround">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Sil" Click="() => ds.Close(true)" Style="width: 80px;" ButtonStyle="ButtonStyle.Secondary" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Vazgeç" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Base" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    ,
    new DialogOptions()
    {
        Width = "400px",
        ShowClose = false
    });

        if (result == true)
        {
            base.ShowLoader();
            try
            {
                var response = await DocumentService.DeleteDocumentAsync(model.Id);
                if (!response.IsSuccessStatusCode)
                {
                    base.HideLoader();
                    string errorMessage = response.ReasonPhrase!;
                    ToastService.ShowError($"Döküman silinirken bir hata oluştu. Lütfen sayfayı yenileyip tekrar deneyiniz. Hata Kodu: {response.StatusCode}");
                    return;
                }
                else
                {
                    documentModel.Remove(model);
                    await documentGrid.Reload();
                    base.HideLoader();
                    ToastService.ShowSuccess("Döküman başarıyla silindi !", settings => { settings.Timeout = 2; });
                }
            }
            catch (Exception ex)
            {
                base.HideLoader();
                ToastService.ShowError($"Döküman silinirken bir hata oluştu. Lütfen sayfayı yenileyip tekrar deneyiniz. Hata Mesajı: {ex.Message}");
            }
        }
    }
    private async Task ShowDocument(string documentPath)
    {
        await JSRuntime.InvokeVoidAsync("open", baseUrl + documentPath, "_blank");
    }
    void RowRender(RowRenderEventArgs<DocumentModel> args)
    {
        args.Expandable = !string.IsNullOrEmpty(args.Data.DocumentDescription);
    }
}
