@page "/team"
@using Web.Blazor.Models
@using System.Text.Json
@using Web.Blazor.Models.Enums
@using Web.Blazor.Pages.Components
@using Web.Blazor.Services.ApiServices
@inject DialogService DialogService
@inject ITeamService TeamService
@inject IToastService ToastService
@inject TooltipService tooltipService
@inherits BaseComponent


<PageTitle>Takım Yönetimi</PageTitle>


<RadzenText Text="Takım Yönetimi" TextStyle="TextStyle.DisplayH5" Class="mb-2">
</RadzenText>
<RadzenText class="align-self-center mb-0" TextStyle="TextStyle.Caption">
    *çalışan detayını görüntülemek için çalışanın solundaki ok işaretine tıklayınız.
</RadzenText>
<div class="d-flex justify-content-end align-items-center mb-2 px-2">
    <RadzenButton Icon="add" Disabled="isLoading" Text="Yeni Çalışan Ekle" Click="@(()=> OpenDialog(null))" />
</div>

@*     Görsellerin üzerine tıklanınca modal ile açma işlemi ekle.  *@
<RadzenDataGrid @ref="teamGrid" Data="employeeModel" GridLines="DataGridGridLines.Horizontal" TItem="EmployeeModel" Responsive="true"
                AllowFiltering="true" FilterMode="FilterMode.Advanced" Style="border-radius:7px" AllowColumnResize="false" ColumnWidth="10rem"
                LogicalFilterOperator="LogicalFilterOperator.Or" OrOperatorText="Veya" RowRender="@RowRender"
                AndOperatorText="Ve" ApplyFilterText="Uygula" ClearFilterText="Temizle" EqualsText="Eşittir"
                NotEqualsText="Eşit değildir" LessThanOrEqualsText="Daha az veya eşit" LessThanText="Daha az"
                GreaterThanOrEqualsText="Daha fazla veya eşit" GreaterThanText="Daha fazla" EndsWithText="İle biter"
                FilterText="Filtrele" StartsWithText="İle başlar" IsEmptyText="Veri boşsa" IsNotEmptyText="Veri boş değilse"
                IsNullText="Veri yoksa" IsNotNullText="Veri varsa" ContainsText="İçerir" DoesNotContainText="İçermez"
                AllowSorting="true" EnumFilterSelectText="Seçiniz" PagingSummaryFormat="{1} sayfadan {0}. sayfa (Toplam {2} adet kayıt)"
                AllowPaging="true" PageSize="@((int)defaultPageSize)" PagerHorizontalAlign="HorizontalAlign.Right" ExpandMode="DataGridExpandMode.Single"
                ShowPagingSummary="true" ShowHeader="true"
                class="rz-shadow-1" AllowAlternatingRows="false">
    <HeaderTemplate>
        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
            <RadzenLabel Text="Kayıt sayısı: " Component="MaxPageSize" Style="align-self:center" />
            <RadzenDropDown @bind-Value=@defaultPageSize Data="@(Enum.GetValues(typeof(PageSizes)))" Name="MaxPageSize" />
            <RadzenToggleButton Text="@(isImageVisible ? "Görselleri Gizle" : "Görselleri Göster" )"
                                ToggleButtonStyle="ButtonStyle.Success" ButtonStyle="ButtonStyle.Dark"
                                Icon="visibility_off" ToggleIcon="visibility"
                                Click=@(() => isImageVisible = !isImageVisible) />
        </RadzenStack>
    </HeaderTemplate>
    <EmptyTemplate>
        @if (isLoading)
        {
            <RadzenStack Orientation="Orientation.Horizontal" Gap="3" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="margin: 2rem;color: lightgrey;text-align: center;">
                <i style="font-size:36px; animation: rotation 700ms linear infinite" class="notranslate rzi" id="d4DUbQirfE" _bl_2837=""><!--!-->refresh</i>
                <span>
                    Yükleniyor...
                </span>
            </RadzenStack>
        }
        else
        {
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Gösterilecek kayıt bulunamadı.</p>
        }
    </EmptyTemplate>
    <Template Context="item">
        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
            <RadzenText class="align-self-center mb-0" Text="Detay Bilgiler:" TextStyle="TextStyle.Subtitle2" Style="font-weight:bold">
            </RadzenText>
            <RadzenText class="align-self-center mb-0" Text="@item.Description" TextStyle="TextStyle.Subtitle2" style="text-wrap-mode:wrap;">
            </RadzenText>
        </RadzenStack>
    </Template>
    <Columns>
        <RadzenDataGridColumn Visible="@isImageVisible" TItem="EmployeeModel" Frozen Sortable="false" TextAlign="TextAlign.Center" Width="7rem" Filterable="false" Title="Çalışan Görseli">
            <Template Context="data">
                <RadzenStack Gap="0" Orientation="Orientation.Horizontal" class="m-0 p-0" JustifyContent="JustifyContent.Center">
                    <RadzenImage Path="@(baseUrl + data.ThumbImagePath)" class="rz-gravatar rz-gravatar-custom" />
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="EmployeeModel" Width="9rem" Property="Name" Title="Adı" />
        <RadzenDataGridColumn TItem="EmployeeModel" Width="9rem" Property="SurName" Title="Soyadı" />
        <RadzenDataGridColumn TItem="EmployeeModel" Property="BirthDate" Title="Doğum Tarihi" FormatString="{0:d}" />
        <RadzenDataGridColumn TItem="EmployeeModel" Property="Title" Title="Ünvan" />
        <RadzenDataGridColumn TItem="EmployeeModel" Property="DepartmentType" Title="Departman" />
        <RadzenDataGridColumn TItem="EmployeeModel" TextAlign="TextAlign.Center" Frozen FrozenPosition="FrozenColumnPosition.Right" Width="7rem" Sortable="false" Filterable="false" Title="İşlemler">
            <Template Context="item">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Filled" MouseEnter="@(args => ShowTooltip(args,"Çalışanı Düzenle"))" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" Click="@(()=> OpenDialog(item))" aria-label="Cancel" />
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Filled" MouseEnter="@(args => ShowTooltip(args,"Çalışanı Sil"))" Size="ButtonSize.Medium" Shade="Shade.Lighter" class="rz-my-1 rz-ms-1" Click="() => Delete(item)" aria-label="Delete" />
                </RadzenStack>
            </Template>
        </RadzenDataGridColumn>
    </Columns>

</RadzenDataGrid>


@code {
    RadzenDataGrid<EmployeeModel> teamGrid;
    private EmployeeModel editEmployeeModel = new();
    private List<EmployeeModel> employeeModel = [];
    private PageSizes defaultPageSize = PageSizes.Five;
    private bool isImageVisible = true;
    private bool isLoading = true;
    private bool isEdit = false;
    private string baseUrl = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        baseUrl = base.SetBaseUrl();
    }

    void ShowTooltip(ElementReference elementReference, string text) => tooltipService.Open(elementReference, text, null);

    async Task OpenDialog(EmployeeModel? employee)
    {
        isEdit = employee == null ? true : false;
        var result = await DialogService.OpenAsync<TeamCrudComponent>(
        employee == null ? "Yeni Çalışan Ekle" : "Seçili Çalışanı Düzenle",
    new Dictionary<string, object>() { { "ExistingEmployee", employee! } },
        new DialogOptions { Width = "700px", CloseDialogOnOverlayClick = false, AutoFocusFirstElement = false, CloseDialogOnEsc = false }
    );

        if (result is true)
        {
            if (isEdit)
                ToastService.ShowSuccess("Çalışan başarıyla eklendi!");
            else
                ToastService.ShowSuccess("Çalışan başarıyla güncellendi!");
            
            await LoadData();
            await teamGrid.RefreshDataAsync();
        }
    }
    private async Task LoadData()
    {
        isLoading = true;
        try
        {
            employeeModel = await TeamService.GetAllAsync();
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        isLoading = false;
        isEdit = false;
    }

    private async void Delete(EmployeeModel model)
    {

        var title = $"Çalışan: {model.Name}";

        var result = await DialogService.OpenAsync(title, ds =>
    @<RadzenStack Gap="1.5rem">
        <RadzenText Text="Çalışanı silmek istediğinize emin misiniz ?" TextStyle="TextStyle.Body1" />
        <RadzenText Text="NOT: Bu işlem geri alınamaz !" TextStyle="TextStyle.Subtitle2" class="text-danger" />
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceAround">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Sil" Click="() => ds.Close(true)" Style="width: 80px;" ButtonStyle="ButtonStyle.Secondary" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Text="Vazgeç" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Base" />
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
    ,
    new DialogOptions()
    {
        Width = "400px",
        ShowClose = false
    });

        if (result == true)
        {
            base.ShowLoader();
            try
            {
                var response = await TeamService.DeleteEmployeeAsync(model.Id);
                if (!response.IsSuccessStatusCode)
                {
                    base.HideLoader();
                    string errorMessage = response.ReasonPhrase!;
                    ToastService.ShowError($"Çalışan silinirken bir hata oluştu. Lütfen sayfayı yenileyip tekrar deneyiniz. Hata Kodu: {response.StatusCode}");
                    return;
                }
                else
                {
                    employeeModel.Remove(model);
                    await teamGrid.Reload();
                    base.HideLoader();
                    ToastService.ShowSuccess("Çalışan başarıyla silindi !", settings => { settings.Timeout = 2; });
                }
            }
            catch (Exception ex)
            {
                base.HideLoader();
                ToastService.ShowError($"Çalışan silinirken bir hata oluştu. Lütfen sayfayı yenileyip tekrar deneyiniz. Hata Mesajı: {ex.Message}");
            }
        }
    }
    void RowRender(RowRenderEventArgs<EmployeeModel> args)
    {
        args.Expandable = !string.IsNullOrEmpty(args.Data.Description);
    }
}
